/* ==========================================
   CODE YOUR BELOW
   ========================================== */
body{
    background: linear-gradient(#e66465, #e95757);
    margin: 0 0;
    font-family: 'Roboto Condensed', sans-serif;
}
h1
{
    margin: 10px auto;
    text-align: center;
}

.sandbox, .final-result
{
    margin: 20px 150px;
    background-color: rgb(235, 226, 228);
    padding: 20px 40px;
    border-radius: 10px;
}


.facebook-style-btn
{
    border-radius: 2px;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 6px 12px;
}

.facebook-style-dark 
{
    -moz-box-shadow: inset 0px 1px 0px 0px #4d73bf;
    -webkit-box-shadow: inset 0px 1px 0px 0px #4d73bf;
    box-shadow: inset 0px 1px 0px 0px #4d73bf;
    background: #4267b2;
    border: 1px solid #4267b2;
    color: #fff;
    text-shadow: 0 1px 0px #3359a5;
}

.facebook-style-dark:hover {
    background: #2b54a7;
}